.main-from input{
    width: 500px;
    height: 50px;
    border-top:none ;
    border-left: none;
    border-right:none ;
}
.main-from textarea{
    width: 500px;
    height: 70px;
    border-top:none ;
    border-left: none;
    border-right:none ;

}